# Name of your application. Used to uniquely configure containers.
service: techstacks-io

# Name of the container image.
image: ghcr.io/netcoreapps/techstacks.io

# Required for use of ASP.NET Core with Kamal-Proxy.
env:
  clear:
    ASPNETCORE_FORWARDEDHEADERS_ENABLED: true
  secret:
    - SERVICESTACK_LICENSE

# Deploy to these servers.
servers:
  # IP address of server, optionally use env variable.
  web:
    - 192.168.0.1
#   - <%= ENV['KAMAL_DEPLOY_IP'] %>


# Enable SSL auto certification via Let's Encrypt (and allow for multiple apps on one server).
# If using something like Cloudflare, it is recommended to set encryption mode
# in Cloudflare's SSL/TLS setting to "Full" to enable end-to-end encryption.
proxy:
  ssl: true
  host: techstacks.io
  # kamal-proxy connects to your container over port 80, use `app_port` to specify a different port.
  app_port: 8080

# Credentials for your image host.
registry:
  # Specify the registry server, if you're not using Docker Hub
  server: ghcr.io
  username:
    - KAMAL_REGISTRY_USERNAME

  # Always use an access token rather than real password (pulled from .kamal/secrets).
  password:
    - KAMAL_REGISTRY_PASSWORD

# Configure builder setup.
builder:
  arch: amd64

volumes:
  - "/opt/docker/techstacks.io/App_Data:/app/App_Data"

accessories:
  postgres:
    image: postgres
    host: 192.168.0.1
    network: techstacks-io-network
    env:
      clear:
        POSTGRES_USER: techstacks
        POSTGRES_DB: techstacks
        # Optional: only listens inside container
        PGDATA: /var/lib/postgresql/data
      secret:
        - POSTGRES_PASSWORD
    directories:
      - /opt/docker/techstacks.io/postgres:/var/lib/postgresql/data
      - /opt/docker/techstacks.io/initdb.d:/docker-entrypoint-initdb.d
